<template>
    <div>
        <div class="container mt-4 mb-4 pr-4 pl-4">
            <!-- dynamically displays component being rendered by vue router -->
            <router-view></router-view>
        </div>
    </div>
</template>